html {
    font-family: 'Times New Roman', Times, serif
}
body {
    margin: 0;
    background-image: url('../images/david-marcu-unsplash.jpg');
    background-repeat: no-repeat;
    color: rgb(61, 64, 61);
}

* {
    box-sizing: border-box;
}
#title, #description{ 
   text-align: center; 
}

#survey-form {
    background-color: rgba(128, 197, 210, 0.3);
    padding: 50px;
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 20px;
}

#inputData input {
    padding: 10px;
    width: 100%;
   
}

#input

#dropdown-question {
    margin-bottom: 0;
    padding: 5px;
}
#dropdown {
    width: 100%;
}

.radioButton p {
    margin-bottom: 0;
    padding: 5px;

}

.radioButton{
    text-align: left;
}

.checkBoxes {
    margin-bottom: 5%;
}

.checkBoxes p{
    margin-bottom: 0;
    padding: 5px;
}

.checkBoxes span{
    font-size: 16px;
}


#textarea {
    width: 100%;
}

#submit {
    width: 100%;
    padding: 10px;
    margin-top: 5%;
}
